*.pyc
models/
train_results/
train_multicamvo/
test_results/
slurm_logs/
__pycache__/
IntPlot/
logdata/
*try_lw*/
resimg/
ORBvoc*
*.zip
*.db
/record
/tensorboard
/data/*.txt
/data/tartan_test.txt
/data/*.txt
/data/*.npy
/wandb
test*
*.out